@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main-nav {
    position: relative;
    height: 80px;
    -webkit-box-shadow: -1px 9px 12px 1px rgba(0,0,0,0.67); 
    box-shadow: -1px 9px 12px 1px rgba(0,0,0,0.67);
    margin-bottom: 1rem;
}

.main-nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: #01579b;
    z-index: 1;
}

.main-nav__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    padding: 1.5rem;
    line-height: 1.5rem;
    background-color: #eaeaea;
    font-size: 1rem;
    top: -125px;
    width: 100%;
    z-index: 0;
    transition: .5s ease-in-out;
}

.main-nav__sub-menu {
    margin: 0.5rem 0;
}

.main-nav__menu .main-nav__sub-menu {
    display: none;
    padding-left: 1rem;
}

.main-nav__menu-item {
    margin-right: 0.5rem;
}

.main-nav__menu-item--active > .main-nav__sub-menu {
    display: block;
}

.main-nav__menu--active {
    top: 78px;
}

.main-nav__menu-item:first-child {
    grid-column: 1;
    grid-row: 1;
}

.main-nav__menu-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.main-nav__menu-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
}

.main-nav__menu-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.main-nav__menu-item:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
}

.main-nav__menu-connect {
    display: flex;
    grid-column: 1 / span 3;
    grid-row: 3;
}

.main-nav__menu-connect .main-nav__menu-item {
    margin-right: 1rem;
}

.main-nav__menu-item-link,
.main-nav__sub-menu-item-link {
    color: #003c64;
    text-decoration: none;
}

.main-nav__menu-item-link,
.main-nav__logo-link {
    font-weight: 700;
}

.main-nav__menu-item-link i {
    margin-right: 0.5rem;
    transition: .2s linear;
}

.main-nav__menu-item-link i.--down {
    transform: rotateZ(90deg);
}

.main-nav__logo-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.main-nav__menu-item-button {
    display: block;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    word-wrap: break-word;
}

.main-nav__menu-item-button.--signin {
    background-color: #05d37d;
}

.main-nav__menu-item-button.--signup {
    background-color: #6f05d3;
}

.main-nav__menu-cart {
    display: block;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    color: #003c64;
}

.main-nav__menu-cart i {
    font-size: 1.8rem;
}

/*? BURGER ?*/
.main-nav__burger {
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.main-nav__burger-icon,
.main-nav__burger-icon::before,
.main-nav__burger-icon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: .5s;
}

.main-nav__burger-icon {
    top: 50%;
    transform: translateY(-50%);
}

.main-nav__burger-icon::after,
.main-nav__burger-icon::before {
    content: '';
}

.main-nav__burger-icon::after {
    top: -12px;
}

.main-nav__burger-icon::before {
    top: 12px;
}

.main-nav__burger--active .main-nav__burger-icon {
    background-color: transparent;
}

.main-nav__burger--active .main-nav__burger-icon::after {
    transform: rotateZ(-45deg) translate(-8px, 9px);
}

.main-nav__burger--active .main-nav__burger-icon::before {
    transform: rotateZ(45deg) translate(-8px, -9px);
}


@media screen and (min-width: 650px) {

    .main-nav__menu {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .main-nav__menu-connect {
        flex-direction: column;
        grid-column: 4;
        grid-row: 1 / span 3;
        text-align: center;
    }

    .main-nav__menu-item-button {
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .main-nav__menu-cart {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    
    .main-nav {
        display: flex;
        height: unset;
    }

    .main-nav__burger {
        display: none;
    }

    .main-nav__mobile,
    .main-nav__menu {
        position: initial;
    }

    .main-nav__mobile {
        width: 15%;
        font-size: 2rem;
    }

    .main-nav__menu {
        display: flex;
        background-color: #01579b;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        padding: 0;
    }

    .main-nav__menu-item {
        height: 100%;
        padding: 0rem 1rem;
    }

    .main-nav__menu-item .main-nav__menu-item-link {
        display: block;
        margin-top: 1.7rem;
    }

    .main-nav__menu-connect .main-nav__menu-item {
        padding: 0 1rem 0 0;
        margin: 0;
    }

    .main-nav__menu-connect {
        display: grid;
        text-align: right;
        align-items: center;
    }

    .main-nav__menu-connect .main-nav__menu-item:last-child {
        height: 132%;
        padding: 0 1rem;
    }

    .main-nav__menu-cart {
        padding-top: 1.5rem;
    }

    .main-nav__menu-item .main-nav__menu-item-button {
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        margin: 0;
    }

    .main-nav__menu-item:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .main-nav__menu-item:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    .main-nav a {
        color: #fff;
    }

    .main-nav__logo-link {
        font-size: 2rem;
    }

    .main-nav__menu > li:hover,
    .main-nav__menu-connect > li:last-child:hover,
    .main-nav__menu-connect > li.--active {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .main-nav__menu > li.--active {
        border-bottom: #fff solid 5px;
    }

    /* SOUS-MENU DESKTOP */
    .main-nav__sub-menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #eaeaea;
        margin: 0;
        padding: 2rem 3rem!important;
        line-height: 4rem;
        columns: 4;
    }

    .main-nav__sub-menu-item-link {
        color: #01579b!important;
    }

}